#logo {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    
}

.cabecera{
    background: cornflowerblue;
}

.navegacion{
    margin: 5px 5px 0px 0px;
    width: 18%;
    border: solid;
    float: left;
}

.contenido{
    margin: 5px 5px 5px 0px;
    padding: 7px;
    width: 79.2%;
    border: solid;
    position: relative;
    float: left;
}

.piePagina{
    margin: 5px 0px 0px 0px;
    padding: 10px;
    width: 98%;
    border: solid;
    clear: both;
}