.navegacion a:active {
    color: blue;
}

.cabecera{
    background-image: url(../images/portada1.jpg)
}

.navegacion{
    
}

.contenido1{
    border: solid;
    margin: 2px;
    display: inline-block;
    padding: 4px;
    background: rgb(55, 91, 156);
}

.contenido1 p {
    text-align: justify;
}

.AI{
    float: left;
    width: 100px;
    height: 100px;
}

.AAI{
    float: left;
    width: 100px;
    height: 100px;
}

.IC{
    float: left;
    width: 100px;
    height: 100px;
}

#titulo{
    text-align: center;
}

body{
    background-image: url(../images/fondo1.jpg );
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}

