.navegacion a:active {
    color: blue;
}

.cabecera{
    background-image: url(../images/portada1.jpg);
    background-size: cover;
    border-radius: 1em;
}
#titulo{
    font-size: 50px;
    font-family: cursive;
    color:lavenderblush;
}

.navegacion{
    border-radius: 30%;
    background: #0CA0B7;
    
}

.navegacion ul {
    list-style-type: none;
    font-size: 30px;
    font-family: cursive;
} 

li a {
    text-decoration: none;
    
}

li a:hover {
   
    color: white;

    
}

.contenido{
    border-radius: 1em;
    background: rgb(7, 51, 87);
}

.contenido1{

    border-radius: 1em;
    border: solid;
    margin: 2px;
    display: inline-block;
    padding: 4px;
    background: rgb(55, 133, 156);
}

.contenido1 p {
    text-align: justify;
}

.AI{
    float: left;
    width: 100px;
    height: 100px;
}

.AAI{
    float: left;
    width: 100px;
    height: 100px;
}

.IC{
    float: left;
    width: 100px;
    height: 100px;
}

#titulo{
    text-align: center;
}

body{
    background-image: url(../images/fondo1.jpg );
    /* background-repeat: no-repeat; */
    background-attachment: scroll;
    background-size: contain;
    font-family: cursive;
}

.piePagina{
    background: rgb(55, 124, 170);
    border-radius: 1em;
}

